.flex-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  overflow-wrap: break-word;
}

.flex-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
