<div>
  <h1>Code Stylist wao!</h1>
  <!-- main container -->
  <div class="container"> 
    <!-- column left -->
    <div class="column">
      <!-- row up -->
      <div class="row">
        <app-files-main></app-files-main>
      </div>
      <!-- row down -->
      <div class="row">
        <app-change-config></app-change-config>
      </div>
    </div>
    <!-- column right -->
    <div class="column">
      <div class="row">
        <app-feedback-main></app-feedback-main>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>