.row {
    height: auto;
    margin: 1em 0;
}

.content {
  position: relative;
  z-index: 1;
}

.drawer {
  position: absolute;
  color: black;
  background-color: aliceblue;
  z-index: 100;
}

@media only screen and (min-width: 992px) {
    .container {
        display: flex;
    }

    .column {
        width: 50%;
    }
}
