<div class="container">
  <div class="column">
    <div class="row">
      <h1>Files</h1>
    <div class="code">
      <mat-card appearance="outlined">
        <mat-card-content>
          <form [formGroup]="codeForm">
            <mat-form-field appearance="outline">
              <mat-label> Put your code here</mat-label>
              <textarea formControlName="code" matInput required></textarea>
              <mat-error
                *ngIf="codeForm.controls['code'].hasError('required')">
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="clearCode()" mat-stroked-button id="clearbtn">Clear</button>
          <button (click)="uploadCode()" mat-stroked-button id="uploadbtn">Upload Input</button>
        </mat-card-actions>
        <mat-card-content>
          <ul id="file-list">
            <li *ngFor="let file of fileList; let i = index">
              <div class="file-item">
                <span class="file-name">{{file.name}}</span>
                <button class="delete-button" mat-icon-button (click)="removeFile(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </li>
          </ul>
          <mat-error *ngIf="wrongFileType">
            None of the uploaded files were valid.
          </mat-error>
        </mat-card-content>
        <mat-card-actions>
          <input type="file" id="file-button" multiple hidden (change)="handleFileChange($event)"
          [attr.accept]="acceptType"/>
          <button mat-stroked-button id="filebtn" (click)="openFileDialog()" [disabled]="!configForm.controls['programmingLanguage'].valid">
            Choose File
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    </div>

    <div class="row">
      <h1>Configuration</h1>
      <div class="config">
          <form [formGroup]="configForm">
              <mat-form-field appearance="outline">
                  <mat-label>Programming language: </mat-label>
                  <mat-select formControlName="programmingLanguage" required (selectionChange)="onLanguageChange()">
                    <mat-option *ngFor="let progLang of progLangs" [value]="progLang">{{progLang.name}}</mat-option>
                  </mat-select>
                  <mat-error
                        *ngIf="configForm.controls['programmingLanguage'].hasError('required')"
                      >
                        Programming language required.
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Course: </mat-label>
                  <mat-select formControlName="course" required>
                    <mat-option *ngFor="let course of courses" [value]="course">{{course.name}}</mat-option>
                  </mat-select>
                  <mat-error
                        *ngIf="configForm.controls['course'].hasError('required')"
                      >
                        Course required.
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Response tone: </mat-label>
                  <mat-select formControlName="tone" required>
                    <mat-option *ngFor="let tone of tones" [value]="tone">{{tone.name}}</mat-option>
                  </mat-select>
                  <mat-error
                        *ngIf="configForm.controls['tone'].hasError('required')"
                      >
                        Response tone required.
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Output format: </mat-label>
                  <mat-select formControlName="format" required>
                    <mat-option *ngFor="let format of formats" [value]="format">{{format.name}}</mat-option>
                  </mat-select>
                  <mat-error
                        *ngIf="configForm.controls['format'].hasError('required')"
                      >
                        Output format required.
                  </mat-error>
              </mat-form-field>
          </form>
      </div>
      <div>
          <button (click)="submit()" mat-stroked-button id="analysisbtn">Evaluate</button>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="row">
      <h1>Feedback</h1>
      <mat-card appearance="outlined" *ngIf="multipleFilesAnalyzed">
        <mat-card-content *ngIf="fileList.length > 0">
          <mat-tab-group>
            <mat-tab *ngFor="let file of fileList, let i = index" [label]="file.name">
              <app-feedback-item
                [success]="success"
                [evaluated]="evaluated"
                [isLoading]="isLoading[i]"
                [response]="response[i]"
                [errorLog]="errorLog">
              </app-feedback-item>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
        <mat-card-content *ngIf="fileList.length == 0">
          No files left. Upload files or use the text input box.
        </mat-card-content>
      </mat-card>
        <mat-card appearance="outlined" *ngIf="!multipleFilesAnalyzed">
          <mat-card-content>
            <app-feedback-item
              [success]="success"
              [evaluated]="evaluated"
              [isLoading]="isLoading[0]"
              [response]="response[0]"
              [errorLog]="errorLog">
            </app-feedback-item>
          </mat-card-content>
        </mat-card>

    </div>
  </div>
</div>
